@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-main: #ffffff;
  --primary-color: #ff6464;
  --seconday--color: #00a8cc;
  --dark--color: #21243d;
  --light-color: #8695a4;
}
a {
  text-decoration: none;
}
body {
  font-family: "Heebo", sans-serif;
  background: var(--color-main);
  color: #21243d;
  line-height: 1.6;
  font-size: 16px;
}
#active {
  display: none;
}
#times {
  display: none;
}
ul {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  li {
    margin-top: 1rem;
    list-style: none;
    padding: 0 57px;
    .active-link {
      color: var(--primary-color);
    }
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        background: #000;
        color: #ffff;
        transition: all 2s ease-in-out;
      }
    }
  }
}

#hearo {
  #hearo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 3rem;
    .text {
      max-width: 31.875rem;

      font-size: medium;
      h1 {
        padding: 1rem 0;
      }
      p {
        padding: 1rem 0;
      }
      .cta {
        width: 208px;
        background: var(--primary-color);
        color: #ffffff;
        padding: 10px;
        border-radius: 1em;
      }
    }

    object-fit: cover;
    padding: 1rem;

    img {
      border-radius: 10rem;
      margin-left: 20rem;
    }
  }
}

.posts {
  background: #edf7fa;
  display: grid;
  grid-template-rows: minmax(2, 1fr);
  grid-gap: 5rem;
  .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 7rem;
  }
  .card-wrapper {
    display: flex;
    height: 396px;

    align-items: center;
    justify-content: center;
    .card {
      background: var(--color-main);
      margin: 0 auto;
      height: 295px;
      max-width: 26.125rem;
      font-size: medium;
      font-weight: 400;
      h1 {
        padding: 0 1rem;
      }
      span {
        padding: 5rem;
      }
      p {
        padding: 0 1rem;
        line-height: 1.6;
      }
    }
  }
}
#feture-box {
  display: flex;
  flex-direction: column;

  .feture-wrapper {
    min-height: 37.5;
    margin: auto;
    margin-bottom: 0;
    .card {
      display: flex;
      p {
        max-width: 594px;
      }
      .text-content {
        margin: 0 3rem;
        .title {
          display: inline-flex;

          .sub-title {
            padding: 0.2rem;

            display: flex;
            background: #142850;
            border-radius: 0.5rem;
            max-width: 60px;
            color: #f3f3ff;
          }
        }
      }
      img {
        max-width: 246px;
        object-fit: cover;
      }
    }
  }
}
footer {
  max-width: 1152px;
  height: 182px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  ul {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    li {
      list-style: none;
      padding: 30px;
      font-size: 2rem;
    }
  }
}

// media query

@media screen and (max-width: 400px) {
  #active {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }

  #times {
    display: block;
  }
  #disable {
    transition: all 0.5s ease-in-out;
    display: none;

    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;

    li {
      margin-top: 1rem;
      list-style: none;
      padding: 0 57px;

      a {
        color: #000;
        text-decoration: none;
        &:hover {
          background: #000;
          color: #ffff;
        }
      }
    }
  }
  #hearo {
    max-width: 25rem;

    #hearo-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-left: 3rem;
      .text {
        max-width: 31.875rem;

        font-size: medium;
        h1 {
          padding: 1rem 0;
        }
        p {
          padding: 1rem 0;
        }
        .cta {
          width: 208px;
          background: var(--primary-color);
          color: #ffffff;
          padding: 10px;
          border-radius: 1em;
        }
      }

      img {
        border-radius: 50rem;
        margin-left: 0;
        object-fit: cover;
        padding: 1rem;
        max-width: 300px;
      }
    }
  }

  .posts {
    background: #edf7fa;
    display: grid;
    grid-template-rows: minmax(2, 1fr);
    grid-gap: 1rem;
    max-width: 25rem;
    min-height: 40.438rem;
    span {
      height: 5px;
    }
    .heading {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 7rem;
      a {
        display: none;
      }
    }
    .card-wrapper {
      display: flex;
      height: 396px;
      flex-direction: column;

      align-items: center;
      justify-content: center;
    }
  }

  #feture-box {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    align-items: center;
    justify-content: center;

    .feture-wrapper {
      margin: auto;
      span {
        margin: 0 1rem;
      }
      .card {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        p {
          max-width: 594px;
          margin-left: 0;
        }
        .text-content {
          max-width: 25rem;
          .title {
            display: inline-flex;

            .sub-title {
              padding: 0.2rem;

              display: flex;
              background: #142850;
              border-radius: 0.5rem;
              max-width: 60px;
              color: #f3f3ff;
            }
          }
        }
        img {
          max-width: 339px;
          object-fit: cover;
        }
      }
    }
  }
}

// blog page style

.blog-area {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  line-height: 1.2;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .blog-content {
    max-width: 42rem;
    h1 {
      padding: 1rem;
      font-size: 24px;
    }
    h2 {
      padding: 1rem;
      font-size: 30px;
      font-weight: 400;
    }
    p {
      padding: 1rem;
      font-size: 16px;
      font-weight: 400;
    }
    span {
      padding: 1rem;
    }
    hr {
      padding: 0 1rem;
    }
  }
}

//work css

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  .card-services {
    max-width: 41.5rem;
    display: flex;

    padding: 1px;
    h2 {
      padding: 0 1rem;
      color: #21243d;
      font-size: 24px;
      font-weight: 400;
    }
    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 400;
    }
    span {
      padding: 0 1rem;
    }
    img {
      max-width: 15.375rem;
      min-height: 11.25rem;
    }
  }
}
@media screen and (max-width: 400px) {
  .container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    max-width: 344px;
    justify-content: center;
    align-items: center;
    .card-services {
      display: flex;
      flex-direction: column;
      img {
        object-fit: cover;
        margin-left: 1rem;
      }
    }
  }
}
