@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-main: #ffffff;
  --primary-color: #ff6464;
  --seconday--color: #00a8cc;
  --dark--color: #21243d;
  --light-color: #8695a4;
}

a {
  text-decoration: none;
}

body {
  font-family: "Heebo", sans-serif;
  background: var(--color-main);
  color: #21243d;
  line-height: 1.6;
  font-size: 16px;
}

#active {
  display: none;
}

#times {
  display: none;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5rem;
}

ul li {
  margin-top: 1rem;
  list-style: none;
  padding: 0 57px;
}

ul li .active-link {
  color: var(--primary-color);
}

ul li a {
  color: #000;
  text-decoration: none;
}

ul li a:hover {
  background: #000;
  color: #ffff;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#hearo #hearo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10rem;
  margin-bottom: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 1rem;
}

#hearo #hearo-wrapper .text {
  max-width: 31.875rem;
  font-size: medium;
}

#hearo #hearo-wrapper .text h1 {
  padding: 1rem 0;
}

#hearo #hearo-wrapper .text p {
  padding: 1rem 0;
}

#hearo #hearo-wrapper .text .cta {
  width: 208px;
  background: var(--primary-color);
  color: #ffffff;
  padding: 10px;
  border-radius: 1em;
}

#hearo #hearo-wrapper img {
  border-radius: 10rem;
  margin-left: 20rem;
}

.posts {
  background: #edf7fa;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(2, 1fr);
      grid-template-rows: minmax(2, 1fr);
  grid-gap: 5rem;
}

.posts .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 7rem;
}

.posts .card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 396px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.posts .card-wrapper .card {
  background: var(--color-main);
  margin: 0 1rem;
  height: 295px;
  max-width: 26.125rem;
  font-size: medium;
  font-weight: 400;
}

.posts .card-wrapper .card h1 {
  padding: 0 1rem;
}

.posts .card-wrapper .card span {
  padding: 5rem;
}

.posts .card-wrapper .card p {
  padding: 0 1rem;
  line-height: 1.6;
}

#feture-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#feture-box .feture-wrapper {
  min-height: 37.5;
  margin: auto;
  margin-bottom: 0;
}

#feture-box .feture-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#feture-box .feture-wrapper .card p {
  max-width: 594px;
}

#feture-box .feture-wrapper .card .text-content {
  margin: 0 3rem;
}

#feture-box .feture-wrapper .card .text-content .title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#feture-box .feture-wrapper .card .text-content .title .sub-title {
  padding: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #142850;
  border-radius: 0.5rem;
  max-width: 60px;
  color: #f3f3ff;
}

#feture-box .feture-wrapper .card img {
  max-width: 246px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  max-width: 1152px;
  height: 182px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

footer ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul li {
  list-style: none;
  padding: 30px;
  font-size: 2rem;
}

@media screen and (max-width: 400px) {
  #active {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
  }
  #times {
    display: block;
  }
  #disable {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: none;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #disable li {
    margin-top: 1rem;
    list-style: none;
    padding: 0 57px;
  }
  #disable li a {
    color: #000;
    text-decoration: none;
  }
  #disable li a:hover {
    background: #000;
    color: #ffff;
  }
  #hearo {
    max-width: 25rem;
  }
  #hearo #hearo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 3rem;
  }
  #hearo #hearo-wrapper .text {
    max-width: 31.875rem;
    font-size: medium;
  }
  #hearo #hearo-wrapper .text h1 {
    padding: 1rem 0;
  }
  #hearo #hearo-wrapper .text p {
    padding: 1rem 0;
  }
  #hearo #hearo-wrapper .text .cta {
    width: 208px;
    background: var(--primary-color);
    color: #ffffff;
    padding: 10px;
    border-radius: 1em;
  }
  #hearo #hearo-wrapper img {
    border-radius: 50rem;
    margin-left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    padding: 1rem;
    max-width: 300px;
  }
  .posts {
    background: #edf7fa;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: minmax(2, 1fr);
        grid-template-rows: minmax(2, 1fr);
    grid-gap: 1rem;
    max-width: 25rem;
    min-height: 40.438rem;
  }
  .posts span {
    height: 5px;
  }
  .posts .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 7rem;
  }
  .posts .heading a {
    display: none;
  }
  .posts .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 396px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #feture-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #feture-box .feture-wrapper {
    margin: auto;
  }
  #feture-box .feture-wrapper span {
    margin: 0 1rem;
  }
  #feture-box .feture-wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #feture-box .feture-wrapper .card p {
    max-width: 594px;
    margin-left: 0;
  }
  #feture-box .feture-wrapper .card .text-content {
    max-width: 25rem;
  }
  #feture-box .feture-wrapper .card .text-content .title {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  #feture-box .feture-wrapper .card .text-content .title .sub-title {
    padding: 0.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #142850;
    border-radius: 0.5rem;
    max-width: 60px;
    color: #f3f3ff;
  }
  #feture-box .feture-wrapper .card img {
    max-width: 339px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.blog-area {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  line-height: 1.2;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-area .blog-content {
  max-width: 42rem;
}

.blog-area .blog-content h1 {
  padding: 1rem;
  font-size: 24px;
}

.blog-area .blog-content h2 {
  padding: 1rem;
  font-size: 30px;
  font-weight: 400;
}

.blog-area .blog-content p {
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
}

.blog-area .blog-content span {
  padding: 1rem;
}

.blog-area .blog-content hr {
  padding: 0 1rem;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.container .card-services {
  max-width: 41.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1px;
}

.container .card-services h2 {
  padding: 0 1rem;
  color: #21243d;
  font-size: 24px;
  font-weight: 400;
}

.container .card-services p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 400;
}

.container .card-services span {
  padding: 0 1rem;
}

.container .card-services img {
  max-width: 15.375rem;
  min-height: 11.25rem;
}

@media screen and (max-width: 400px) {
  .container {
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 344px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .card-services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .card-services img {
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */